*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

video {
    object-fit: cover;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}

.callout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 70%;
    margin: auto;
    font-size: 4rem;
    text-transform: uppercase;
    color: black;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background: lavender; */
    color: black;
    line-height: 1.5;
    font-size: 0.875rem;
}

img:not(.person-img) {
    width: 100%;
}

img {
    display: block;
}


/* 
 global classes */


/* h1 {
    background-color: steelblue;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
} */

h4 {
    font-size: 10px;
}

h4:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #e0e1e3;
}


/*
  =============== 
  ! Slider
  ===============
  */

.slider-container {
    border: 5px solid lavender;
    width: 50vw;
    margin: 0 auto;
    height: 40vh;
    max-width: 80rem;
    position: relative;
    border-radius: 2%;
    overflow: hidden;
    /* margin-top: 4rem; */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background: gainsboro;
    color: white;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.slide-img {
    height: 100%;
    object-fit: cover;
}

.slide h1 {
    font-size: 5rem;
}

.person-img {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
    opacity: 0.7;
    margin-bottom: 1rem;
}

.person-img:hover {
    opacity: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

.prevBtn,
.nextBtn {
    position: relative;
    background: transparent;
    cursor: pointer;
}

.nextBtn {
    translate: 470px -300px;
    border-width: 40px 0 40px 50px;
    border-color: transparent transparent transparent grey;
    right: 0;
    margin-right: 20px;
    transition: all 0.5s;
}

.prevBtn {
    translate: -470px -300px;
    border-width: 40px 50px 40px 0;
    border-color: transparent grey transparent transparent;
    left: 0;
    margin-left: 20px;
}

.nextBtn:hover {
    border-color: transparent transparent transparent black;
}

.prevBtn:hover {
    border-color: transparent black transparent transparent;
}

@media screen and (max-width: 425px) {
    .slider-container {
        height: 15vh;
        width: 100%;
    }
    .callout {
        font-size: 5rem;
        color: white;
    }
    .prevBtn {
        translate: -20px 0px;
        border-width: 15px 25px 15px 0;
        border-color: transparent grey transparent transparent;
        left: 0;
        margin-left: 20px;
    }
    .nextBtn {
        translate: 0px 0px;
        border-width: 15px 0 15px 25px;
        border-color: transparent transparent transparent grey;
        right: 0;
        margin-right: 20px;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 768px) {
    .slider-container {
        height: 50vh;
        width: 60%;
    }
    .prevBtn {
        translate: -20px 0px;
        border-width: 30px 40px 30px 0;
        border-color: transparent grey transparent transparent;
        left: 0;
        margin-left: 20px;
    }
    .nextBtn {
        translate: 0px 0px;
        border-width: 30px 0 30px 40px;
        border-color: transparent transparent transparent grey;
        right: 0;
        margin-right: 20px;
        transition: all 0.5s;
    }
}

@media screen and (min-width: 992px) {
    .slider-container {
        height: 65vh;
    }
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}
